/.deps
/.test-mt
/.test-ref
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/eng-sco.autobil.bin
/eng-sco.autogen.bin
/eng-sco.autolex.bin
/eng-sco.automorf.bin
/eng-sco.autopgen.bin
/eng-sco.prob
/eng-sco.rlx.bin
/eng-sco.t1x.bin
/eng-sco.t2x.bin
/eng-sco.t3x.bin
/install-sh
/missing
/modes
/sco-eng.autobil.bin
/sco-eng.autogen.bin
/sco-eng.autolex.bin
/sco-eng.automorf.bin
/sco-eng.autopgen.bin
/sco-eng.prob
/sco-eng.rlx.bin
/sco-eng.t1x.bin
/sco-eng.t2x.bin
/sco-eng.t3x.bin
